[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
chardet = "*"
coreapi = "*"
django-angular = "*"
django-filter = "*"
djangorestframework = "*"
django-rest-framework-social-oauth2 = "*"
drfdocs = "*"
psycopg2 = "*"
pyjwkest = "*"
python-dateutil = "*"
python-json-logger = "*"
safety = "*"
scandir = "*"
social-auth-app-django = "*"
yara-python = "*"
greenlet= "*"
gevent = "*"
gunicorn = "*"
whitenoise = "*"
Django = "*"
Markdown = "*"
Pygments = "*"
SQLAlchemy = "*"
Unipath = "*"
plyara = "*"

[dev-packages]
coveralls = "*"

[requires]
python_version = "3.5"
