{% extends "components/CenteredPanelForm.html" %}

{% block FORM_ACTION %}"{% url 'Login' %}"{% endblock FORM_ACTION %}

{% block FORM_ERRORS %}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">Username and password didn't match. Please try again.</div>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <div class="alert alert-danger" role="alert">
        Account doesn't have access to this page. To proceed, please login with an account that has access.
      </div>
    {% else %}
      <div class="alert alert-danger" role="alert">Please login to see this page.</div>
    {% endif %}
  {% endif %}
{% endblock FORM_ERRORS %}

{% block PANEL_HEADING %}Authenticate for Access{% endblock PANEL_HEADING %}

{% block PANEL_BODY %}
  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
    <input class="form-control" type="text" name='{{ form.username.html_name }}' placeholder="username"/>
  </div>

  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
    <input class="form-control" type="password" name='{{ form.password.html_name }}' placeholder="Password"/>
  </div>

  <input class="btn btn-success" type="submit" value="Login" />
  <input type="hidden" name="next" value="{{ next }}" />

  {% if view.registration_enabled %}
    <a href="{% url 'RegisterAccount' %}" class="btn btn-primary">Register</a>
  {% endif %}
  <br><br>
  <a href="{% url 'RecoverPassword' %}">Forgot Password?</a>
  {% if view.social_login_enabled %}
    <hr>
    <a href="{% url 'social:begin' backend='google-oauth2' %}">Login with Google</a>
  {% endif %}
{% endblock PANEL_BODY %}
