{% extends "components/CenteredPanelForm.html" %}

{% block FORM_ACTION %}"{% url 'RecoverPassword' %}"{% endblock FORM_ACTION %}

{% block FORM_ERRORS %}
  {% if form.errors %}
    <div class="alert alert-danger" role="alert">Invalid email entry. Please try again.</div>
  {% endif %}
{% endblock FORM_ERRORS %}

{% block PANEL_HEADING %}Recover Password{% endblock PANEL_HEADING %}

{% block PANEL_BODY %}
  <div class="form-group input-group">
    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
    <input class="form-control" type="text" name='{{ form.email.html_name }}' placeholder="account email"/>          
  </div>

  <input class="btn btn-success" type="submit" value="Recover Password" />
  <a href="{% url 'Login' %}" class="btn btn-danger">Cancel</a>
{% endblock PANEL_BODY %}
