.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
    background-color: #7F8C8D;
}

textarea {
    resize: none;
}

div #MessageAlerts {
  position: fixed;
  top: 50px;
  right: 30px;
  z-index: 100;
  width: 25%;
}

.Absolute-Center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.Absolute-Center.is-Responsive {
  width: 50%;
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

.panel-heading p a {
  color: white !important;
}

/*
.navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
*/
