{% load staticfiles %}

<script type="text/javascript" src="{% static 'js/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-route.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-animate.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui-bootstrap.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ui-bootstrap-tpls.js' %}"></script>
<script type="text/javascript" src="{% static 'js/angular-touch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/multiselect.js' %}"></script>
<script type="text/javascript" src="{% static 'js/multiselect-tpls.js' %}"></script>
<script type="text/javascript" src="{% static 'djng/js/django-angular.min.js' %}"></script>

<!-- for no html5 browsers support -->
<script type="text/javascript" src="{% static 'js/ng-file-upload-shim.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/ng-file-upload.min.js' %}"></script>

<script type="text/javascript" src="{% static 'core/api.js' %}"></script>
<script type="text/javascript" src="{% static 'core/filters.js' %}"></script>
<script type="text/javascript" src="{% static 'core/messages.js' %}"></script>
<script type="text/javascript" src="{% static 'core/directives.js' %}"></script>
<script type="text/javascript" src="{% static 'core/services.js' %}"></script>

<script type="text/javascript" src="{% static 'rules/ruleStats.js' %}"></script>
<script type="text/javascript" src="{% static 'rules/ruleSubmit.js' %}"></script>
<script type="text/javascript" src="{% static 'rules/ruleSearch.js' %}"></script>
<script type="text/javascript" src="{% static 'rules/ruleBulk.js' %}"></script>
<script type="text/javascript" src="{% static 'rules/ruleDetails.js' %}"></script>

<script type="text/javascript" src="{% static 'management/accountManagement.js' %}"></script>
<script type="text/javascript" src="{% static 'management/groupManagement.js' %}"></script>

<script type="text/javascript" src="{% static 'app.js' %}"></script>
