{% extends "components/ModalContent.html" %}

{% block MODAL_IDENTIFIER %}
  "ruleModalRead.html"
{% endblock MODAL_IDENTIFIER %}


{% block MODAL_HEADER %}

  {% verbatim %}
    {{ ModalCtrl.rule.name }}
  {% endverbatim %}

{% endblock MODAL_HEADER %}


{% block MODAL_BODY %}

    {% verbatim %}
      <div>
        <textarea
            rows=25
            class="form-control"
            readonly>{{ ModalCtrl.rule.formatted_rule }}
        </textarea>
      </div> 
    {% endverbatim %}
{% endblock MODAL_BODY %}   


{% block MODAL_FOOTER %}
  <center>
    <button class="btn btn-danger" type="button" ng-click="ModalCtrl.cancel()">Close</button>
  </center>
{% endblock MODAL_FOOTER %}
