<div class="pull-right">
  <div class="btn-group" uib-dropdown>
    <button type="button" class="btn btn-sm btn-primary" uib-dropdown-toggle>
      <span class="glyphicon glyphicon-download" aria-hidden="true"></span> Export
      <span class="caret"></span>
    </button>

    {% verbatim %}
    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
      <li role="menuitem"><a ng-click="BulkCtrl.exportRules({'status': 'active'})"
                             ng-href="{{ BulkCtrl.download_url }}">All active rules</a></li>
      <li role="menuitem"><a ng-click="BulkCtrl.exportRules(SearchCtrl.search.query_params)"
                             ng-href="{{ BulkCtrl.download_url }}">All Search results</a></li>
      <li role="menuitem"><a ng-click="BulkCtrl.exportRules(BulkCtrl.generateSelectionParam())"
                             ng-href="{{ BulkCtrl.download_url }}">Only selected rules</a></li>
    </ul>
    {% endverbatim %}
  </div>

  <div class="btn-group" uib-dropdown
       ng-if="AccountCtrl.userIsOwnerOrAdmin()">
    <button type="button" class="btn btn-sm btn-warning" uib-dropdown-toggle disabled>
      <span class="glyphicon glyphicon-random" aria-hidden="true"></span> Merge
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
      <li role="menuitem">
        <a href ng-click="BulkCtrl.mergeRules({}, 'newest')">
          All Collisions (keep newest)
        </a>
      </li>

      <li role="menuitem">
        <a href ng-click="BulkCtrl.mergeRules({}, 'oldest')">
          All Collisions (keep oldest)
        </a>
      </li>

      <li role="menuitem">
        <a href ng-click="BulkCtrl.mergeRules(SearchCtrl.search.query_params, 'newest')">
          Search Results (keep newest)
        </a>
      </li>

      <li role="menuitem">
        <a href ng-click="BulkCtrl.mergeRules(SearchCtrl.search.query_params, 'oldest')">
         Search Results (keep oldest)
        </a>
      </li>

      <li role="menuitem">
        <a href ng-click="BulkCtrl.mergeRules(BulkCtrl.generateSelectionParam(), 'newest')">
          Selected Rules (keep newest)
        </a>
      </li>

      <li role="menuitem">
        <a href ng-click="BulkCtrl.mergeRules(BulkCtrl.generateSelectionParam(), 'oldest')">
          Selected Rules (keep oldest)
        </a>
      </li>
    </ul>
  </div>

  <div class="btn-group" uib-dropdown
       ng-if="AccountCtrl.userIsOwnerOrAdmin()">
    <button type="button" class="btn btn-sm btn-danger" uib-dropdown-toggle>
      <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" uib-dropdown-menu role="menu">
      <li role="menuitem"><a href ng-click="BulkCtrl.deleteRules({'status': 'inactive'})">Inactive rules</a></li>
      <li role="menuitem"><a href ng-click="BulkCtrl.deleteRules({'status': 'pending'})">Pending rules</a></li>
      <li role="menuitem"><a href ng-click="BulkCtrl.deleteRules({'status': 'rejected'})">Rejected rules</a></li>
      <li role="menuitem"><a href ng-click="BulkCtrl.deleteRules(SearchCtrl.search.query_params)">Search results</a></li>
      <li role="menuitem"><a href ng-click="BulkCtrl.deleteRules(BulkCtrl.generateSelectionParam())">Only selected rules</a></li>
    </ul>
  </div>

  <button type="button" class="btn btn-sm btn-success" ng-click="StatsCtrl.retrieveStats()">
    <span class="glyphicon glyphicon-refresh"></span> Stats
  </button>
</div>
